<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_test23_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{167,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,66}}</string>
                <key>sourceSize</key>
                <string>{167,66}</string>
            </dict>
            <key>bullet_test23_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{167,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,66}}</string>
                <key>sourceSize</key>
                <string>{167,66}</string>
            </dict>
            <key>bullet_test23_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{167,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,66}}</string>
                <key>sourceSize</key>
                <string>{167,66}</string>
            </dict>
            <key>bullet_test23_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{167,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,66}}</string>
                <key>sourceSize</key>
                <string>{167,66}</string>
            </dict>
            <key>bullet_test23_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{167,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,66}}</string>
                <key>sourceSize</key>
                <string>{167,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_test23.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccd83fac26e8f1525a17a2932cd8c3be:535963330b00a0f23f6509dc03ab25dd:dd71747bcbc852e8d3bbce098760dce1$</string>
            <key>textureFileName</key>
            <string>bullet_test23.png</string>
        </dict>
    </dict>
</plist>
