<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_test06_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,52}}</string>
                <key>sourceSize</key>
                <string>{105,52}</string>
            </dict>
            <key>bullet_test06_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{104,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,50}}</string>
                <key>sourceSize</key>
                <string>{104,50}</string>
            </dict>
            <key>bullet_test06_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{102,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,52}}</string>
                <key>sourceSize</key>
                <string>{102,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_test06.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96a66dc9505a48cd7d581681ace86ccb:41374a23f58a65b2bc66c268e8bed09f:7be4d85dfbd05e357b5d263e221901d3$</string>
            <key>textureFileName</key>
            <string>bullet_test06.png</string>
        </dict>
    </dict>
</plist>
