<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_test22_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{140,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,133}}</string>
                <key>sourceSize</key>
                <string>{140,133}</string>
            </dict>
            <key>bullet_test22_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,133}}</string>
                <key>sourceSize</key>
                <string>{142,133}</string>
            </dict>
            <key>bullet_test22_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,135}}</string>
                <key>sourceSize</key>
                <string>{142,135}</string>
            </dict>
            <key>bullet_test22_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,137},{139,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,134}}</string>
                <key>sourceSize</key>
                <string>{141,134}</string>
            </dict>
            <key>bullet_test22_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{138,132}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,132}}</string>
                <key>sourceSize</key>
                <string>{142,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_test22.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5f5a83ec9c819447c3d9d918183a3be:bc646d811e2d238e979bc7732ffff7d4:526f342498bfa54d0dcc6f9fddffa1d0$</string>
            <key>textureFileName</key>
            <string>bullet_test22.png</string>
        </dict>
    </dict>
</plist>
