<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_test18_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{146,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,84}}</string>
                <key>sourceSize</key>
                <string>{146,84}</string>
            </dict>
            <key>bullet_test18_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,86}}</string>
                <key>sourceSize</key>
                <string>{152,86}</string>
            </dict>
            <key>bullet_test18_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{148,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,86}}</string>
                <key>sourceSize</key>
                <string>{148,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_test18.png</string>
            <key>size</key>
            <string>{512,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d095a6e8777575b1864115264a19f622:add81b03b53f7e0c01ab201b8a7491b6:96d7af32f21ef0b1287c7b1592fbef58$</string>
            <key>textureFileName</key>
            <string>bullet_test18.png</string>
        </dict>
    </dict>
</plist>
