<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_test04_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{93,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,39}}</string>
                <key>sourceSize</key>
                <string>{93,39}</string>
            </dict>
            <key>bullet_test04_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,40}}</string>
                <key>sourceSize</key>
                <string>{97,40}</string>
            </dict>
            <key>bullet_test04_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{91,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,40}}</string>
                <key>sourceSize</key>
                <string>{91,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_test04.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71c36f1dbb6bbb8b08352f31d110a80d:69ea9ebbaaff5e12fa0a4e1df63cd190:da5e7485e30ac40228fa0a8c8b30af97$</string>
            <key>textureFileName</key>
            <string>bullet_test04.png</string>
        </dict>
    </dict>
</plist>
