<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_test14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{206,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,102}}</string>
                <key>sourceSize</key>
                <string>{206,102}</string>
            </dict>
            <key>bullet_test14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,104}}</string>
                <key>sourceSize</key>
                <string>{210,104}</string>
            </dict>
            <key>bullet_test14_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{200,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,103}}</string>
                <key>sourceSize</key>
                <string>{200,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_test14.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ac4e0e6aaef2d653def6f1bc89629b3:a91181c8c38b608612736f0e3a310e08:3a12c711a882fcbe9b3b0d2e85b48673$</string>
            <key>textureFileName</key>
            <string>bullet_test14.png</string>
        </dict>
    </dict>
</plist>
