<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_test19_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,37}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>bullet_test19_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{64,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,36}}</string>
                <key>sourceSize</key>
                <string>{64,36}</string>
            </dict>
            <key>bullet_test19_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{61,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,36}}</string>
                <key>sourceSize</key>
                <string>{61,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_test19.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba9790e03edc6ad7ad51492e30ee8378:80519e6528691de939930fa33e2ca32f:8944a151c8acc21c6059e4762969a6ab$</string>
            <key>textureFileName</key>
            <string>bullet_test19.png</string>
        </dict>
    </dict>
</plist>
