<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_test1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{131,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,31},{131,82}}</string>
                <key>sourceSize</key>
                <string>{147,144}</string>
            </dict>
            <key>bullet_test1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,2},{138,81}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{138,81}}</string>
                <key>sourceSize</key>
                <string>{148,143}</string>
            </dict>
            <key>bullet_test1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,2},{121,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,25},{121,84}}</string>
                <key>sourceSize</key>
                <string>{137,134}</string>
            </dict>
            <key>bullet_test1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{124,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,29},{124,84}}</string>
                <key>sourceSize</key>
                <string>{144,142}</string>
            </dict>
            <key>bullet_test1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,2},{129,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,31},{129,81}}</string>
                <key>sourceSize</key>
                <string>{145,143}</string>
            </dict>
            <key>bullet_test1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{128,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,30},{128,80}}</string>
                <key>sourceSize</key>
                <string>{144,142}</string>
            </dict>
            <key>bullet_test1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,84}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,28},{125,84}}</string>
                <key>sourceSize</key>
                <string>{139,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_test1.png</string>
            <key>size</key>
            <string>{912,88}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa49a4caa25469ae328279e4fcc4f553:0851f609e6641c3e76b88bc1474d4c83:33d02d699906fae2a9ffdc8a871e7601$</string>
            <key>textureFileName</key>
            <string>bullet_test1.png</string>
        </dict>
    </dict>
</plist>
