<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dun_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{1,1}}</string>
                <key>offset</key>
                <string>{-129.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{260,400}</string>
            </dict>
            <key>dun_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,374},{150,204}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,95},{150,204}}</string>
                <key>sourceSize</key>
                <string>{260,400}</string>
            </dict>
            <key>dun_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,222},{150,204}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,95},{150,204}}</string>
                <key>sourceSize</key>
                <string>{260,400}</string>
            </dict>
            <key>dun_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{148,202}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,95},{148,202}}</string>
                <key>sourceSize</key>
                <string>{260,400}</string>
            </dict>
            <key>dun_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{180,302}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,49},{180,302}}</string>
                <key>sourceSize</key>
                <string>{260,400}</string>
            </dict>
            <key>dun_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,366}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,18},{218,366}}</string>
                <key>sourceSize</key>
                <string>{260,400}</string>
            </dict>
            <key>dun_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{1,1}}</string>
                <key>offset</key>
                <string>{-129.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{260,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dun.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6738413a811730791009d683fe5aedc4:1/1$</string>
            <key>textureFileName</key>
            <string>dun.png</string>
        </dict>
    </dict>
</plist>
