<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hurt_fire4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,159},{54,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,59}}</string>
                <key>sourceSize</key>
                <string>{54,59}</string>
            </dict>
            <key>hurt_fire4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,220},{50,71}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{50,71}}</string>
                <key>sourceSize</key>
                <string>{54,79}</string>
            </dict>
            <key>hurt_fire4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{150,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,155}}</string>
                <key>sourceSize</key>
                <string>{150,155}</string>
            </dict>
            <key>hurt_fire4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{170,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{170,120}}</string>
                <key>sourceSize</key>
                <string>{170,126}</string>
            </dict>
            <key>hurt_fire4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,127},{175,123}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{175,123}}</string>
                <key>sourceSize</key>
                <string>{175,131}</string>
            </dict>
            <key>hurt_fire4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{175,123}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{175,123}}</string>
                <key>sourceSize</key>
                <string>{175,135}</string>
            </dict>
            <key>hurt_fire4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{175,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,139}}</string>
                <key>sourceSize</key>
                <string>{175,139}</string>
            </dict>
            <key>hurt_fire4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,252},{166,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{166,92}}</string>
                <key>sourceSize</key>
                <string>{166,96}</string>
            </dict>
            <key>hurt_fire4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,159},{82,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,91}}</string>
                <key>sourceSize</key>
                <string>{82,91}</string>
            </dict>
            <key>hurt_fire4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,252},{75,85}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{75,85}}</string>
                <key>sourceSize</key>
                <string>{79,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hurt_fire4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c7726c532696401058458f09b8db12c:a50948e829ef55e2dc8222f79f5c4887:f4683fcb96ddd9366b6eb83c1d4ed66a$</string>
            <key>textureFileName</key>
            <string>hurt_fire4.png</string>
        </dict>
    </dict>
</plist>
