<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hurt_wuli_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,168}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{176,168}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>hurt_wuli_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,166},{162,172}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{162,172}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>hurt_wuli_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{172,162}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{172,162}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>hurt_wuli_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,330},{120,120}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,30},{120,120}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>hurt_wuli_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{148,138}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{148,138}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>hurt_wuli_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{164,156}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{164,156}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>hurt_wuli_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,330},{104,96}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,45},{104,96}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>hurt_wuli_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,322},{154,146}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{154,146}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>hurt_wuli_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,168},{156,152}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{156,152}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>hurt_wuli_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{120,128}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,30},{120,128}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hurt_wuli.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a937a222246f38a774483f5ab46a641a:1/1$</string>
            <key>textureFileName</key>
            <string>hurt_wuli.png</string>
        </dict>
    </dict>
</plist>
