<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hurt_wuli_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,215},{208,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,185}}</string>
                <key>sourceSize</key>
                <string>{208,185}</string>
            </dict>
            <key>hurt_wuli_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{222,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,211}}</string>
                <key>sourceSize</key>
                <string>{222,211}</string>
            </dict>
            <key>hurt_wuli_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{264,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,240}}</string>
                <key>sourceSize</key>
                <string>{264,240}</string>
            </dict>
            <key>hurt_wuli_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,240}}</string>
                <key>sourceSize</key>
                <string>{264,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hurt_magic.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:966566c2251e3db6b059219d7df29caf:58935bbc133be746e38f52fdc4ecde48:21e66937f60154918c875c6fcf1456fd$</string>
            <key>textureFileName</key>
            <string>hurt_magic.png</string>
        </dict>
    </dict>
</plist>
