<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hurt_fire1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,92},{81,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{81,63}}</string>
                <key>sourceSize</key>
                <string>{81,65}</string>
            </dict>
            <key>hurt_fire1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{136,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{136,121}}</string>
                <key>sourceSize</key>
                <string>{138,123}</string>
            </dict>
            <key>hurt_fire1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{136,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{136,121}}</string>
                <key>sourceSize</key>
                <string>{138,123}</string>
            </dict>
            <key>hurt_fire1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{136,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{136,124}}</string>
                <key>sourceSize</key>
                <string>{138,124}</string>
            </dict>
            <key>hurt_fire1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{136,125}}</string>
                <key>sourceSize</key>
                <string>{138,125}</string>
            </dict>
            <key>hurt_fire1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{81,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,88}}</string>
                <key>sourceSize</key>
                <string>{81,88}</string>
            </dict>
            <key>hurt_fire1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,246},{79,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{79,90}}</string>
                <key>sourceSize</key>
                <string>{81,90}</string>
            </dict>
            <key>hurt_fire1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,157},{80,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,87}}</string>
                <key>sourceSize</key>
                <string>{80,87}</string>
            </dict>
            <key>hurt_fire1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,338},{79,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{79,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hurt_fire1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84c42e49b83ae572316a3fb14cc2bfd2:91af0ef921181f624e55ab794c8674b3:21162144cc9e0261c333317a80def5f3$</string>
            <key>textureFileName</key>
            <string>hurt_fire1.png</string>
        </dict>
    </dict>
</plist>
