<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hurt_fire2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{158,103}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{158,103}}</string>
                <key>sourceSize</key>
                <string>{168,113}</string>
            </dict>
            <key>hurt_fire2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,175},{111,120}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,120}}</string>
                <key>sourceSize</key>
                <string>{117,120}</string>
            </dict>
            <key>hurt_fire2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,297},{110,122}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,122}}</string>
                <key>sourceSize</key>
                <string>{114,122}</string>
            </dict>
            <key>hurt_fire2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,478},{100,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,104}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>hurt_fire2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,584},{100,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,102}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>hurt_fire2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,606},{78,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,60}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>hurt_fire2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{223,157}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{223,157}}</string>
                <key>sourceSize</key>
                <string>{235,167}</string>
            </dict>
            <key>hurt_fire2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{214,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{214,172}}</string>
                <key>sourceSize</key>
                <string>{238,172}</string>
            </dict>
            <key>hurt_fire2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{215,171}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{215,171}}</string>
                <key>sourceSize</key>
                <string>{235,175}</string>
            </dict>
            <key>hurt_fire2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,175},{170,148}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{170,148}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>hurt_fire2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,325},{159,151}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,151}}</string>
                <key>sourceSize</key>
                <string>{163,151}</string>
            </dict>
            <key>hurt_fire2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,440},{104,164}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{104,164}}</string>
                <key>sourceSize</key>
                <string>{112,168}</string>
            </dict>
            <key>hurt_fire2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{108,165}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,165}}</string>
                <key>sourceSize</key>
                <string>{114,169}</string>
            </dict>
            <key>hurt_fire2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,421},{125,162}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{125,162}}</string>
                <key>sourceSize</key>
                <string>{133,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hurt_fire2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ef8bc95d9e881be2da8236e5c8fb839:a488874d336fd1c6c4ffcc3560603509:fce8691056c04d17a2fed395e97cd48d$</string>
            <key>textureFileName</key>
            <string>hurt_fire2.png</string>
        </dict>
    </dict>
</plist>
