<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hurt_test02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,46}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{111,46}}</string>
                <key>sourceSize</key>
                <string>{133,50}</string>
            </dict>
            <key>hurt_test02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{105,46}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{105,46}}</string>
                <key>sourceSize</key>
                <string>{133,50}</string>
            </dict>
            <key>hurt_test02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{95,46}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{95,46}}</string>
                <key>sourceSize</key>
                <string>{133,50}</string>
            </dict>
            <key>hurt_test02_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{85,46}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{85,46}}</string>
                <key>sourceSize</key>
                <string>{133,50}</string>
            </dict>
            <key>hurt_test02_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{69,44}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{69,44}}</string>
                <key>sourceSize</key>
                <string>{133,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hurt_test02.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c05f6492793b87dc4adb36baf6e4411:8acd2ffb57fc3f75314fbc95ea65fda7:590b3df99dfaee1f035396cdc76f9109$</string>
            <key>textureFileName</key>
            <string>hurt_test02.png</string>
        </dict>
    </dict>
</plist>
