<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hurt_test03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{161,125}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{161,125}}</string>
                <key>sourceSize</key>
                <string>{163,129}</string>
            </dict>
            <key>hurt_test03_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,147}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,147}}</string>
                <key>sourceSize</key>
                <string>{164,149}</string>
            </dict>
            <key>hurt_test03_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{159,137}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,137}}</string>
                <key>sourceSize</key>
                <string>{163,137}</string>
            </dict>
            <key>hurt_test03_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,129},{159,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,132}}</string>
                <key>sourceSize</key>
                <string>{159,132}</string>
            </dict>
            <key>hurt_test03_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,141},{158,128}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{158,128}}</string>
                <key>sourceSize</key>
                <string>{160,130}</string>
            </dict>
            <key>hurt_test03_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{158,134}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{158,134}}</string>
                <key>sourceSize</key>
                <string>{160,136}</string>
            </dict>
            <key>hurt_test03_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,271},{153,142}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{153,142}}</string>
                <key>sourceSize</key>
                <string>{153,144}</string>
            </dict>
            <key>hurt_test03_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{155,151}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{155,151}}</string>
                <key>sourceSize</key>
                <string>{155,153}</string>
            </dict>
            <key>hurt_test03_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,263},{155,151}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{155,151}}</string>
                <key>sourceSize</key>
                <string>{155,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hurt_test03.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3077c6270c43b13807fcf26ff442960:e7bbf3dba66f7b9ff21d2574a598d81c:f87e633e0efa2cd5e8d14926830c6b71$</string>
            <key>textureFileName</key>
            <string>hurt_test03.png</string>
        </dict>
    </dict>
</plist>
