<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>knapsack/knapsack_plank_2.png</key>
			<dict>
				<key>width</key>
				<integer>437</integer>
				<key>height</key>
				<integer>538</integer>
				<key>originalWidth</key>
				<integer>437</integer>
				<key>originalHeight</key>
				<integer>538</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>knapsack/knapsack_label_2.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>92</integer>
				<key>originalHeight</key>
				<integer>55</integer>
				<key>x</key>
				<integer>439</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>knapsack/knapsack_label_1.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>55</integer>
				<key>x</key>
				<integer>439</integer>
				<key>y</key>
				<integer>57</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>battle_name/fight_return_1.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>540</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>battle_name/fight_return_2.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>439</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>knapsack/knapsack_Props_frame.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>539</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>knapsack/knapsack_Props_number.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>635</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>knapsack/knapsack_plank_1.png</key>
			<dict>
				<key>width</key>
				<integer>301</integer>
				<key>height</key>
				<integer>538</integer>
				<key>originalWidth</key>
				<integer>301</integer>
				<key>originalHeight</key>
				<integer>538</integer>
				<key>x</key>
				<integer>539</integer>
				<key>y</key>
				<integer>103</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>knapsack/knapsack_button_1.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>119</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>638</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>knapsack/knapsack_button_2.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>119</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>98</integer>
				<key>y</key>
				<integer>540</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>UI0.png</string>
			<key>realTextureFileName</key>
			<string>UI0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>