<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1053-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1150},{339,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,208}}</string>
                <key>sourceSize</key>
                <string>{339,208}</string>
            </dict>
            <key>1053-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1115},{404,246}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{404,246}}</string>
                <key>sourceSize</key>
                <string>{474,274}</string>
            </dict>
            <key>1053-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,298},{455,293}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{455,293}}</string>
                <key>sourceSize</key>
                <string>{457,303}</string>
            </dict>
            <key>1053-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,2},{462,294}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,294}}</string>
                <key>sourceSize</key>
                <string>{468,304}</string>
            </dict>
            <key>1053-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{447,293}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{447,293}}</string>
                <key>sourceSize</key>
                <string>{465,303}</string>
            </dict>
            <key>1053-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,593},{449,291}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{449,291}}</string>
                <key>sourceSize</key>
                <string>{481,301}</string>
            </dict>
            <key>1053-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,543},{453,275}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{453,275}}</string>
                <key>sourceSize</key>
                <string>{489,299}</string>
            </dict>
            <key>1053-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{460,270}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{460,270}}</string>
                <key>sourceSize</key>
                <string>{490,298}</string>
            </dict>
            <key>1053-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{463,267}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{463,267}}</string>
                <key>sourceSize</key>
                <string>{491,293}</string>
            </dict>
            <key>1053-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,886},{438,262}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{438,262}}</string>
                <key>sourceSize</key>
                <string>{486,290}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ziguang.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cdb86d224fdebb3cae133099e596a9b:1/1$</string>
            <key>textureFileName</key>
            <string>ziguang.png</string>
        </dict>
    </dict>
</plist>
