<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out"/>
		<param name="Threshold" value="ALL"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%-5p][%d{yyyy-MM-dd HH:mm:ss}][%C.%M(%L)] %m%n"/>
		</layout>
	</appender>
	
	<appender name="PERSISTENCE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="log/persistence/PERSISTENCE.log"/>
		<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<layout class="org.apache.log4j.PatternLayout">
		  <param name="ConversionPattern" value="[%-5p][%d{HH:mm:ss}][%C{1}.%M(%L)] %m%n"/>
		</layout>
	</appender>
	
	
	<appender name="CommandMoniterAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="log/persistence/CommandMoniter.log"/>
		<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<layout class="org.apache.log4j.PatternLayout">
		  <param name="ConversionPattern" value="[%-5p][%d{HH:mm:ss}][%C{1}.%M(%L)] %m%n"/>
		</layout>
	</appender>
	
	<appender name="RuntimeErrorLogAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="log/persistence/RuntimeErrorLog.log"/>
		<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<layout class="org.apache.log4j.PatternLayout">
		  <param name="ConversionPattern" value="[%-5p][%d{HH:mm:ss}][%C{1}.%M(%L)] %m%n"/>
		</layout>
	</appender>
	
	 
	<appender name="DEBUGLOG" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="log/persistence/DebugLog.log"/>
		<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<layout class="org.apache.log4j.PatternLayout">
		  <param name="ConversionPattern" value="[%d{MM-dd HH:mm:ss}] %m%n"/>
		</layout>
	</appender>
	<logger name="RuntimeErrorLog">
		<level value="ERROR"/>
		<appender-ref ref="RuntimeErrorLogAppender"/>
	</logger>

	<logger name="CommandMonitor">
		<level value="ERROR"/>
		<appender-ref ref="CommandMoniterAppender"/>
	</logger>

	<logger name="com.doteyplay.game.domain.debuglog.DebugLogger">
		<level value="DEBUG"/>
		<appender-ref ref="DEBUGLOG"/>
	</logger>

	<root>
		<level value="DEBUG"/>
		<appender-ref ref="CONSOLE"/>
	</root>
</log4j:configuration>
