<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10081.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,406},{192,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,28},{192,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10082.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,402},{196,196}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{196,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10083.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{210,194}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,31},{210,194}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10084.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,28},{210,200}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10085.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,198},{206,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{206,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10086.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{204,200}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,28},{204,200}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10087.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,402},{196,200}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,28},{196,200}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10088.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{210,198}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,31},{210,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10089.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{210,196}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,29},{210,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10090.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,200},{206,198}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{206,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10091.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,202},{204,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{204,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10092.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{180,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,28},{180,200}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10093.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,400},{190,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,27},{190,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e1001.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68cd46b47c7f1c9b6fbdc25ec737b4a1:1/1$</string>
            <key>textureFileName</key>
            <string>e1001.png</string>
        </dict>
    </dict>
</plist>
