<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1210-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{75,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,99}}</string>
                <key>sourceSize</key>
                <string>{75,99}</string>
            </dict>
            <key>1210-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{76,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,98}}</string>
                <key>sourceSize</key>
                <string>{76,98}</string>
            </dict>
            <key>1210-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{78,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,97}}</string>
                <key>sourceSize</key>
                <string>{78,97}</string>
            </dict>
            <key>1210-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{80,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,99}}</string>
                <key>sourceSize</key>
                <string>{80,99}</string>
            </dict>
            <key>1210-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,351},{63,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,76}}</string>
                <key>sourceSize</key>
                <string>{63,76}</string>
            </dict>
            <key>1210-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{63,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,78}}</string>
                <key>sourceSize</key>
                <string>{63,78}</string>
            </dict>
            <key>1210-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,182},{67,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,78}}</string>
                <key>sourceSize</key>
                <string>{67,78}</string>
            </dict>
            <key>1210-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,364},{68,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,80}}</string>
                <key>sourceSize</key>
                <string>{68,80}</string>
            </dict>
            <key>1210-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{75,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,99}}</string>
                <key>sourceSize</key>
                <string>{75,99}</string>
            </dict>
            <key>1210-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,204},{76,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,98}}</string>
                <key>sourceSize</key>
                <string>{76,98}</string>
            </dict>
            <key>1210-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,102},{78,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,97}}</string>
                <key>sourceSize</key>
                <string>{78,97}</string>
            </dict>
            <key>1210-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{76,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,98}}</string>
                <key>sourceSize</key>
                <string>{76,98}</string>
            </dict>
            <key>1210-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{80,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,99}}</string>
                <key>sourceSize</key>
                <string>{80,99}</string>
            </dict>
            <key>1210-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,351},{63,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,76}}</string>
                <key>sourceSize</key>
                <string>{63,76}</string>
            </dict>
            <key>1210-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{63,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,78}}</string>
                <key>sourceSize</key>
                <string>{63,78}</string>
            </dict>
            <key>1210-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,182},{67,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,78}}</string>
                <key>sourceSize</key>
                <string>{67,78}</string>
            </dict>
            <key>1210-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,364},{68,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,80}}</string>
                <key>sourceSize</key>
                <string>{68,80}</string>
            </dict>
            <key>1210-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{75,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,99}}</string>
                <key>sourceSize</key>
                <string>{75,99}</string>
            </dict>
            <key>1210-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,204},{76,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,98}}</string>
                <key>sourceSize</key>
                <string>{76,98}</string>
            </dict>
            <key>1210-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,102},{78,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,97}}</string>
                <key>sourceSize</key>
                <string>{78,97}</string>
            </dict>
            <key>1210-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{80,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,99}}</string>
                <key>sourceSize</key>
                <string>{80,99}</string>
            </dict>
            <key>1210-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,351},{63,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,76}}</string>
                <key>sourceSize</key>
                <string>{63,76}</string>
            </dict>
            <key>1210-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{78,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,97}}</string>
                <key>sourceSize</key>
                <string>{78,97}</string>
            </dict>
            <key>1210-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{63,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,78}}</string>
                <key>sourceSize</key>
                <string>{63,78}</string>
            </dict>
            <key>1210-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,182},{67,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,78}}</string>
                <key>sourceSize</key>
                <string>{67,78}</string>
            </dict>
            <key>1210-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,364},{68,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,80}}</string>
                <key>sourceSize</key>
                <string>{68,80}</string>
            </dict>
            <key>1210-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,99}}</string>
                <key>sourceSize</key>
                <string>{80,99}</string>
            </dict>
            <key>1210-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,351},{63,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,76}}</string>
                <key>sourceSize</key>
                <string>{63,76}</string>
            </dict>
            <key>1210-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,101},{63,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,78}}</string>
                <key>sourceSize</key>
                <string>{63,78}</string>
            </dict>
            <key>1210-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,282},{67,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,78}}</string>
                <key>sourceSize</key>
                <string>{67,78}</string>
            </dict>
            <key>1210-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,282},{68,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,80}}</string>
                <key>sourceSize</key>
                <string>{68,80}</string>
            </dict>
            <key>1210-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{75,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,99}}</string>
                <key>sourceSize</key>
                <string>{75,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>head.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:382ab9f1c5f5d228215bd9cdee2e5c2a:1/1$</string>
            <key>textureFileName</key>
            <string>head.png</string>
        </dict>
    </dict>
</plist>
