<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelUp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,520},{102,93}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,33},{102,93}}</string>
                <key>sourceSize</key>
                <string>{296,167}</string>
            </dict>
            <key>levelUp_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,214},{106,107}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,26},{106,107}}</string>
                <key>sourceSize</key>
                <string>{296,167}</string>
            </dict>
            <key>levelUp_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,212},{106,109}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,24},{106,109}}</string>
                <key>sourceSize</key>
                <string>{296,167}</string>
            </dict>
            <key>levelUp_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{104,113}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,19},{104,113}}</string>
                <key>sourceSize</key>
                <string>{296,167}</string>
            </dict>
            <key>levelUp_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{104,113}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,19},{104,113}}</string>
                <key>sourceSize</key>
                <string>{296,167}</string>
            </dict>
            <key>levelUp_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,108},{104,111}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,21},{104,111}}</string>
                <key>sourceSize</key>
                <string>{296,167}</string>
            </dict>
            <key>levelUp_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,106},{104,111}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,20},{104,111}}</string>
                <key>sourceSize</key>
                <string>{296,167}</string>
            </dict>
            <key>levelUp_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{104,115}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,16},{104,115}}</string>
                <key>sourceSize</key>
                <string>{296,167}</string>
            </dict>
            <key>levelUp_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{102,117}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,13},{102,117}}</string>
                <key>sourceSize</key>
                <string>{296,167}</string>
            </dict>
            <key>levelUp_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,119}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,11},{102,119}}</string>
                <key>sourceSize</key>
                <string>{296,167}</string>
            </dict>
            <key>levelUp_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{102,97}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,32},{102,97}}</string>
                <key>sourceSize</key>
                <string>{296,167}</string>
            </dict>
            <key>levelUp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,520},{102,95}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,32},{102,95}}</string>
                <key>sourceSize</key>
                <string>{296,167}</string>
            </dict>
            <key>levelUp_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,423},{102,97}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,32},{102,97}}</string>
                <key>sourceSize</key>
                <string>{296,167}</string>
            </dict>
            <key>levelUp_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,423},{102,95}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,32},{102,95}}</string>
                <key>sourceSize</key>
                <string>{296,167}</string>
            </dict>
            <key>levelUp_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,423},{102,95}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,32},{102,95}}</string>
                <key>sourceSize</key>
                <string>{296,167}</string>
            </dict>
            <key>levelUp_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{102,93}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,33},{102,93}}</string>
                <key>sourceSize</key>
                <string>{296,167}</string>
            </dict>
            <key>levelUp_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,522},{102,93}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,33},{102,93}}</string>
                <key>sourceSize</key>
                <string>{296,167}</string>
            </dict>
            <key>levelUp_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,324},{102,97}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,32},{102,97}}</string>
                <key>sourceSize</key>
                <string>{296,167}</string>
            </dict>
            <key>levelUp_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,322},{102,99}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,31},{102,99}}</string>
                <key>sourceSize</key>
                <string>{296,167}</string>
            </dict>
            <key>levelUp_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,320},{104,101}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,30},{104,101}}</string>
                <key>sourceSize</key>
                <string>{296,167}</string>
            </dict>
            <key>levelUp_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{104,103}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,28},{104,103}}</string>
                <key>sourceSize</key>
                <string>{296,167}</string>
            </dict>
            <key>levelUp_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,218},{104,105}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,28},{104,105}}</string>
                <key>sourceSize</key>
                <string>{296,167}</string>
            </dict>
            <key>levelUp_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{106,109}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,26},{106,109}}</string>
                <key>sourceSize</key>
                <string>{296,167}</string>
            </dict>
            <key>levelUp_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,108},{108,109}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,25},{108,109}}</string>
                <key>sourceSize</key>
                <string>{296,167}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelUp.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d990c6c8bc615ee99d18e76e06dd9b1:ce9a80146a7ba888e8e204cae3b0e1b8:45c7aaa4a5484615292e0c5dd4f2aea9$</string>
            <key>textureFileName</key>
            <string>levelUp.png</string>
        </dict>
    </dict>
</plist>
