<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tiaozhan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,74},{70,70}}</string>
                <key>offset</key>
                <string>{-30,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,32},{70,70}}</string>
                <key>sourceSize</key>
                <string>{174,164}</string>
            </dict>
            <key>tiaozhan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{70,70}}</string>
                <key>offset</key>
                <string>{-30,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,32},{70,70}}</string>
                <key>sourceSize</key>
                <string>{174,164}</string>
            </dict>
            <key>tiaozhan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,148},{70,70}}</string>
                <key>offset</key>
                <string>{-30,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,32},{70,70}}</string>
                <key>sourceSize</key>
                <string>{174,164}</string>
            </dict>
            <key>tiaozhan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{70,70}}</string>
                <key>offset</key>
                <string>{-30,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,32},{70,70}}</string>
                <key>sourceSize</key>
                <string>{174,164}</string>
            </dict>
            <key>tiaozhan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{70,72}}</string>
                <key>offset</key>
                <string>{-30,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,31},{70,72}}</string>
                <key>sourceSize</key>
                <string>{174,164}</string>
            </dict>
            <key>tiaozhan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,76},{70,70}}</string>
                <key>offset</key>
                <string>{-30,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,32},{70,70}}</string>
                <key>sourceSize</key>
                <string>{174,164}</string>
            </dict>
            <key>tiaozhan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,72}}</string>
                <key>offset</key>
                <string>{-31,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,31},{72,72}}</string>
                <key>sourceSize</key>
                <string>{174,164}</string>
            </dict>
            <key>tiaozhan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{70,70}}</string>
                <key>offset</key>
                <string>{-31,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{70,70}}</string>
                <key>sourceSize</key>
                <string>{174,164}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tiaozhan.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce2376983cf7e7a505c9f130bec410cc:1/1$</string>
            <key>textureFileName</key>
            <string>tiaozhan.png</string>
        </dict>
    </dict>
</plist>
