<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>winEffect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,264},{86,60}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,43},{86,60}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>winEffect_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,134},{148,128}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{148,128}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>winEffect_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,134},{148,128}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{148,128}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>winEffect_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{148,130}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{148,130}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>winEffect_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{150,130}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{150,130}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>winEffect_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,130}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{150,130}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>winEffect_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,130}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{150,130}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>winEffect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,516},{102,74}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,34},{102,74}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>winEffect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{116,90}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,26},{116,90}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>winEffect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{130,106}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{130,106}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>winEffect_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,392},{142,122}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{142,122}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>winEffect_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,390},{142,124}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{142,124}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>winEffect_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,264},{144,124}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{144,124}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>winEffect_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{146,126}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{146,126}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>winEffect_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,264},{146,126}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{146,126}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>winEffect.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3208d2101105c6d560ea213c67acbbb:1/1$</string>
            <key>textureFileName</key>
            <string>winEffect.png</string>
        </dict>
    </dict>
</plist>
